extends ../layout.pug

block content
    form(method="POST" type="application/x-www-form-urlencoded")
        .form-group
            label(for="book") Book you are willing to tade:
            select.form-control#book(name="book" required="true")
                each book in books
                    if !book.trading
                        option= book.title
        button.btn.btn-primary(type="submit") Propose trade
